body {
    padding: 0;
    margin: 0;
}
html, body {
    width: 100%;
    height: 100%;
}

@font-face {
    font-family: 'BeVietnamPro';
    src: url('fonts/BeVietnamPro-Regular.ttf');
}

@font-face {
    font-family: 'BeVietnamProBold';
    src: url('fonts/BeVietnamPro-Bold.ttf');
}

body{
    font-family: 'BeVietnamPro';
}

p {
    margin: 0;
}

h4 {
    margin: 0;
}
.button {
    cursor: pointer;
}

.button.clicking {
    animation: changeColor 1.5s infinite;
}

.button.clicking.green {
    animation: changeColorGreen 1.5s infinite;
}

.button.clicking.active {
    animation: changeColorGreen 1.5s infinite;
}

.button.green:hover {
    fill: rgb(58, 114, 90);
}

@keyframes changeColorGreen {
    from {fill: rgb(98, 176, 143);}
    to {fill: rgb(58, 114, 90)}
  }

@keyframes changeColor {
    from {fill: #fff;}
    to {fill: rgb(190, 190, 190)}
  }

.map svg .button.active.clicking {
    fill: #62B08F;
    stroke: transparent;
}

.map svg .button.active:hover {
    fill: rgb(58, 114, 90);
    stroke: rgb(58, 114, 90);
}

.map svg .button.active.clicking:hover {
    fill: transparent;
    stroke: transparent;
}

.button.disable {
    pointer-events: none;
    cursor: pointer;
}

.button:hover {
    fill: rgb(198, 198, 198);
    stroke-width: 1.54978px;
}

.container {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}

.flex {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
}

.event-hidden {
    pointer-events: none;
}

.infor {
    padding-top: 92px;
    width: 455px;
    opacity: 1;
}

.infor .item {
    display: flex;
    align-items: flex-start;
    padding-bottom: 27px;
    border-bottom: 1px solid #6D6E71;
    font-size: 22px;
    font-style: normal;
    line-height: normal;
    color: #6D6E71;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 37px;
}

.infor .item:last-child {
    margin-bottom: 0;
    padding-bottom: 0px;
    border-bottom: none;
}

.infor .item  .total-km {
    font-family: 'BeVietnamProBold';
    font-weight: 700;
    text-transform: uppercase;
    font-size: 18px;
}

.infor .item  .local-km {
    font-weight: 400;
    max-width: 309px;
}

.item .icon {
    margin-right: 20px;
}

/*MAP*/
.map{
    display: none;
    width: 587px;
    min-width: 587px;
}

.map.show{
    display: block;
    width: 587px;
    min-width: 587px;
}

.map-content {
    padding-left: 24px;
    padding-right: 40px;
    /* padding-right: calc(40 / 587 * 100%); */
}

.map .map-svg {
    width: 100%;
    height: auto;
}

.map svg path.active {
    stroke: #0F9B4B;
}

.map path.button.button-border.active {
    fill: transparent;
    stroke: transparent;
}

.map svg .button-border.active {
    fill: transparent;
    stroke: transparent;
}

.button-border.active:hover {
    fill: transparent;
    stroke: transparent;
}

.map path.button.button-border {
    fill: transparent;
    stroke: transparent;
}

.map svg .active.button {
    fill: #62B08F;
    color: aliceblue;
    stroke: #62B08F;
}

.map svg path.active.text-button {
    fill: white;
    stroke: transparent;
}

/*DETAIL MAP*/
.map-wrap {
    min-width: fit-content;
    width: 398px;
}

.map-detai {
    width: 398px;
}

.map-wrap img {
    width: 100%;
}

.map-detai .arrow-wrap {
    position: absolute;
}

.arrow-line-1 {
    bottom: 203px;
    left: 129px;
}

.arrow-line-2 {
    bottom: 257px;
    left: 142px;
}

.arrow-line-3 {
    bottom: 184px;
    left: 168px;
}

.arrow-line-4 {
    bottom: 213px;
    left: 134px;
}

.arrow-line-5 {
    bottom: 255px;
    left: 157px;
}

.arrow-line-6 {
    bottom: 237px;
    left: 185px;
}

.arrow-line-7 {
    bottom: 237px;
    left: 147px;
}

.arrow-line-8 {
    bottom: 245px;
    left: 135px;
}

.arrow-line-9 {
    bottom: 213px;
    left: 153px;
}

.arrow-line-10 {
    bottom: 224px;
    left: 182px;
}
.arrow-line-11 {
    bottom: 204px;
    left: 217px;
}
.arrow-line-12 {
    bottom: 193px;
    left: 256px;
}
.arrow-line-13 {
    bottom: 224px;
    left: 208px;
}
.arrow-line-14 {
    bottom: 232px;
    left: 189px;
}
.arrow-line-15 {
    bottom: 164px;
    left: 183px;
}
.arrow-line-16 {
    bottom: 210px;
    left: 47px;
}
.arrow-line-17 {
    bottom: 312px;
    left: 21px;
}
.arrow-line-18 {
    bottom: 200px;
    left: 157px;
}
.arrow-line-19 {
    bottom: 237px;
    left: 118px;
}
.arrow-line-20 {
    bottom: 224px;
    left: 45px;
}
.arrow-line-21 {
    bottom: 95px;
    left: 12px;
}
.arrow-line-22 {
    bottom: 327px;
    left: 134px;
}
.arrow-line-23 {
    bottom: 224px;
    left: 182px;
}
.arrow-line-24 {
    bottom: 224px;
    left: 182px;
}
.arrow-line-25 {
    bottom: 224px;
    left: 182px;
}

.pat-line-1 {
    stroke-dasharray: 154;
    stroke-dashoffset: 154;
}

.pat-line-2 {
    stroke-dasharray: 184;
    stroke-dashoffset: 184;
}
.pat-line-3 {
    stroke-dasharray: 216;
    stroke-dashoffset: 216;
}

.pat-line-4 {
    stroke-dasharray: 138;
    stroke-dashoffset: 138;
}

.pat-line-5 {
    stroke-dasharray: 173;
    stroke-dashoffset: 173;
}
.pat-line-6 {
    stroke-dasharray: 180;
    stroke-dashoffset: 180;
}
.pat-line-7 {
    stroke-dasharray: 194;
    stroke-dashoffset: 194;
}
.pat-line-8 {
    stroke-dasharray: 224;
    stroke-dashoffset: 224;
}
.pat-line-9 {
    stroke-dasharray: 348;
    stroke-dashoffset: 348;
}
.pat-line-10 {
    stroke-dasharray: 256;
    stroke-dashoffset: 256;
}
.pat-line-11 {
    stroke-dasharray: 244;
    stroke-dashoffset: 244;
}
.pat-line-12 {
    stroke-dasharray: 180;
    stroke-dashoffset: 180;
}
.pat-line-13 {
    stroke-dasharray: 224;
    stroke-dashoffset: 224;
}
.pat-line-14 {
    stroke-dasharray: 128;
    stroke-dashoffset: 128;
}
.pat-line-15 {
    stroke-dasharray: 224;
    stroke-dashoffset: 224;
}
.pat-line-16 {
    stroke-dasharray: 286;
    stroke-dashoffset: 286;
}
.pat-line-17 {
    stroke-dasharray: 290;
    stroke-dashoffset: 290;
}
.pat-line-18 {
    stroke-dasharray: 245;
    stroke-dashoffset: 245;
}
.pat-line-19 {
    stroke-dasharray: 137;
    stroke-dashoffset: 137;
}
.pat-line-20 {
    stroke-dasharray: 284;
    stroke-dashoffset: 284;
}
.pat-line-21 {
    stroke-dasharray: 570;
    stroke-dashoffset: 570;
}
.pat-line-22 {
    stroke-dasharray: 149;
    stroke-dashoffset: 149;
}
.pat-line-23 {
    stroke-dasharray: 256;
    stroke-dashoffset: 256;
}
.pat-line-24 {
    stroke-dasharray: 256;
    stroke-dashoffset: 256;
}
.pat-line-25 {
    stroke-dasharray: 256;
    stroke-dashoffset: 256;
}


.map-detai.active  image.arrow-head{
    opacity: 1;
}

.map-detai {
    height: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    z-index: -99;
    top: 0;
}

.map-detai.active {
    display: block;
    opacity: 1;
    transition: opacity ease-in-out 1s;
    height: auto;
    pointer-events: all;
    z-index: 1;
    position: relative;
    height: auto;
    width: 100%;
}

.button-mobile {
    display: none;
}



.etid-item {
    cursor: pointer;
}
.popup-show-edit {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    background: #000000ab;
    z-index: 2;
}
.form-edit {
    padding: 50px;
    background: #fff;
    border-radius: 20px;
    position: relative;
    text-align: center;
    max-height: 95%;
    overflow-y: scroll;
    
}
.form-edit::-webkit-scrollbar {
    display: none;
}
.input-item {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 15px;
    text-align: left;
    align-items: center;
}

.input-item:last-of-type {
    margin-bottom: 25px;
}

.input-item input{
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #0F9B4B;
}

.input-item label{
    width: 100%;
}

.input-item.check-box label{
    width: auto;
    margin-right: 20px;
}

.close-popup-edit {
    top: 20px;
    right: 20px;
    position: absolute;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.form-edit .title {
    font-family: 'BeVietnamProBold';
    font-weight: 700;
    text-transform: uppercase;
}
.form-edit input[type="checkbox"] {
    position: relative;
    appearance: none;
    width: 47px;
    height: 25px;
    background: #ccc;
    border-radius: 50px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: 0.4s;
}

.form-edit input:checked[type="checkbox"] {
    background: rgb(98, 176, 143);
}

.form-edit input[type="checkbox"]::after {
    position: absolute;
    content: "";
    width: 23px;
    height: 23px;
    top: 0;
    left: 0;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: 0.4s;
}

.form-edit input:checked[type="checkbox"]::after {
    left: 50%;
}

.style-button {
    background: rgb(98, 176, 143);
    color: #fff;
    padding: 6px 20px;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    margin: auto;
}
.style-button:hover {
    background: rgb(58, 114, 90);
}
.showEdit {
    position: absolute;
    top: 10px;
    right: 30px;
}

div#root {
    height: 100%;
}

@media screen and (max-width: 820px) {
    .flex {
        align-items: center;
        flex-wrap: wrap;
        height: 100%;
        width: 100%;
    }
    .map.show{
        width: 100%;
        min-width: 100%;
        padding: 0;
        margin: 0;
        z-index: -1;
    }
    .map-content {
        padding: 0;
        width: 100%;
    }
    .button-mobile {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        padding: 0 33px;
        bottom: 0;
        background: #D2D2D2;
        height: 30px;
        z-index: 999;
        width: 100%;
    }
    .button-mobile .button{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .button-mobile .button p{
        font-size: 9px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: #000;
        margin: 0 6px;
    }
    .button-mobile .right svg{
        transform: scale(-1);
    }
    .infor {
        height: 0;
        padding: 0;
        overflow: hidden;
        width: 0;
        opacity: 0;
    }
    .infor.show{
        width: 100%;
        height: auto;
        padding: 28px 14px 30px 25px;
        overflow: auto;
        background: #fff;
        opacity: 1;
        position: relative;
    }
    .infor .item {
        font-size: 18px;
        margin-left: 0;
        padding-bottom: 18px;
        margin-bottom: 18px;
    }
    .infor .item .total-km {
        font-size: 18px;
    }

    .map-wrap {
        width: 100%;
        background: #fff;
        display: none;
        z-index: 2;
    }
    .map-wrap.show {
        display: block;
    }
    .map-detai.active {
        background: #fff;
        width: 398px;
        margin: auto;
    }
    .form-edit {
        padding: 20px;
    }
    .form-edit .title {
        font-size: 18px;
    }
}
